

<Table class="mx-auto">
  <tr>
    <th>SaleID</th>
    <th>Name of Company</th>
    <th>Total per order</th>
    <th>Date</th>
  </tr>
{{#each row}}
<tr>
  <td>{{this.SaleID}}</td>
  <td>{{this.Name}}</td>
  <td>{{this.TotalPerOrder}}</td>
  <td>{{this.SaleDate}}</td>
</tr>
{{/each}}
</Table>

<a href="/query">Go back to queries</a>