<br>
<a href="/query/products">Show all products</a>
<br>
<a href="/query/orders">Show all orders + name of company + total sum of order + time of order</a>
<br>
<a href="/query/order">Show a specific order (OrderID=2)</a>
<br>
<a href="/query/orderTotal">Show the total sum of order with OrderID=2</a>
<br>
<a href="/query/orderTotalCompany">Total sum of all orders made by all companies</a>


