

<Table class="mx-auto">
  <tr>
    <th>ProductID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
  </tr>
{{#each row}}
<tr>
  <td>{{this.ProductID}}</td>
  <td>{{this.Name}}</td>
  <td>{{this.Price}}</td>
  <td>{{this.Desc}}</td>
</tr>
{{/each}}
</Table>

<a href="/query">Go back to queries</a>